{% extends "base.html" %}

{% block title %}Criar Registro - {{ table.name }} - DevStation{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Criar Novo Registro - {{ table.name }}</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('crud.create_record', table_config_id=table.id) }}">
                    {% for field in fields %}
                    <div class="mb-3">
                        <label for="{{ field.name }}" class="form-label">
                            {{ field.label }}
                            {% if field.is_required %}<span class="text-danger">*</span>{% endif %}
                        </label>
                        
                        {% if field.field_type == 'text' %}
                        <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" 
                               {% if field.is_required %}required{% endif %} 
                               {% if field.size %}maxlength="{{ field.size }}"{% endif %}
                               value="{{ field.default_value or '' }}">
                        
                        {% elif field.field_type in ['number', 'integer'] %}
                        <input type="number" class="form-control" id="{{ field.name }}" name="{{ field.name }}" 
                               {% if field.is_required %}required{% endif %}
                               value="{{ field.default_value or '' }}">
                        
                        {% elif field.field_type == 'date' %}
                        <input type="date" class="form-control" id="{{ field.name }}" name="{{ field.name }}" 
                               {% if field.is_required %}required{% endif %}
                               value="{{ field.default_value or '' }}">
                        
                        {% elif field.field_type == 'datetime' %}
                        <input type="datetime-local" class="form-control" id="{{ field.name }}" name="{{ field.name }}" 
                               {% if field.is_required %}required{% endif %}
                               value="{{ field.default_value or '' }}">
                        
                        {% elif field.field_type == 'boolean' %}
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="{{ field.name }}" name="{{ field.name }}" 
                                   value="true" {% if field.default_value %}checked{% endif %}>
                            <label class="form-check-label" for="{{ field.name }}">Sim</label>
                        </div>
                        
                        {% elif field.field_type == 'list' %}
                        <select class="form-select" id="{{ field.name }}" name="{{ field.name }}" 
                                {% if field.is_required %}required{% endif %}>
                            <option value="">Selecione...</option>
                            {% if field.options %}
                            {% for option in field.options %}
                            <option value="{{ option }}" {% if field.default_value == option %}selected{% endif %}>{{ option }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                        
                        {% else %}
                        <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" 
                               {% if field.is_required %}required{% endif %}
                               value="{{ field.default_value or '' }}">
                        {% endif %}
                        
                        {% if field.size %}
                        <small class="form-text text-muted">Máximo de {{ field.size }} caracteres</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary">Criar</button>
                    <a href="{{ url_for('crud.list_table', table_config_id=table.id) }}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
