{% extends "base.html" %}

{% block title %}Ver Registro - {{ table.name }} - DevStation{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>Registro #{{ record.id }} - {{ table.name }}</h3>
                <div>
                    <a href="{{ url_for('crud.edit_record', table_config_id=table.id, record_id=record.id) }}" class="btn btn-sm btn-warning">Editar</a>
                    <a href="{{ url_for('crud.list_table', table_config_id=table.id) }}" class="btn btn-sm btn-secondary">Voltar</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    {% for field in fields %}
                    <tr>
                        <th width="30%">{{ field.label }}</th>
                        <td>{{ record.get(field.name, '-') }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
